@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
   height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
   z-index: 0 !important;
}

::-webkit-scrollbar {
   width: 4px;
}

::-webkit-scrollbar-track {
   background-color: #d7d7d7;
   border-radius: 100px;
}

::-webkit-scrollbar-thumb {
   background-color: #888888;
   border-radius: 100px;
}
